body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 2vw, 2.5rem);
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

img {
    max-width: 100%;
    height: auto;
}
/* ensures images scale responsively within their containers */

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* ensures a consistent look for buttons */

a {
    text-decoration: none;
    color: #007bff;
}
/* consistent look for all links */

a:hover {
    text-decoration: underline;
    transition: transform 0.3s ease;
}
/* On hover underlines */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Centres an element within a parent container */

*, *::before, *::after {
    box-sizing: border-box;
    /* ensures border-box is standard*/
}
/* applies to all elements */

.hidden {
    display: none;
}
/* used to toggle elements between being displayed and hidden */

.fullheight {
    height: 100vh;
}
/* ensures that elements such as sidebars take the full height of the screen */

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ensures overflowing text is hidden with an ellipsis ... */

a {
    text-decoration: none;
    color: #007bff;
}
/* consistent look for all links */

a:hover {
    text-decoration: underline;
    transition: transform 0.3s ease;
}
/* On hover underlines */

.boxdepth {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* adds a subtitle shaddow effect to elements giving an impression of depth */

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}
/* Make your navigation bar stick to the top of the page as users scroll down */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
}